@using MasterSkills.BlazorSpa.Common.Features

<article class="blog-post">
    <h2 class="display-5 link-body-emphasis mb-1"><strong>@Title</strong></h2>
    <p class="blog-post-meta">Data publikacji: @_date</p>

    <p>@Content</p>
</article>
