@page "/logout"
@using MasterSkills.BlazorSpa.Services
@inject NavigationManager navManager
<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        throw new NotImplementedException();
        // await authService.Logout();
        // navManager.NavigateTo("/");
    }
}